* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito";
}

body {
  background: #fffbff;
  color: #333;
}

.header {
  padding: 16px;
  text-align: center;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 70px;
  background: linear-gradient(to right, #f3b4bd, #ffefe8);
  background-clip: text;
  -webkit-background-clip: text; /* recorta el fondo al texto */
  -webkit-text-fill-color: transparent; /* hace el texto transparente para que se vea el degradado */
}
.logo {
  width: 20%;
}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 32px;
  padding: 32px;
  align-items: start;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 16px 0 32px;
}

.search-input {
  flex: 1;
  max-width: 500px;
  padding: 8px;
  font-size: 25px;
  text-align: center;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border: none;
}
.search-btn {
  padding: 15px 40px;
  font-size: 20px;
  border: none;
  background-color: #f3b4bd;
  color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  background: linear-gradient(to right, #f3b4bd, #ffefe8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cart-container {
  background: #fffcfe;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.cart-list {
  list-style: none;
}
.cart-actions {
  display: flex;
  gap: 8px;
  padding: 10px 0px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  list-style: none;
}

.products-list li {
  display: flex;
  flex-direction: column;
  min-height: 350px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff9fe;
}

.products-list li article {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.products-list img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 12px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto; 
}

.products-list h3 {
  font-size: 20px;
  margin-bottom: 8px;
  text-align: center;
}

.products-list p {
  font-size: 16px;
  margin-bottom: 12px;
  text-align: center;
}

.productAdd-btn {
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  font-size: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.productAdd-btn:hover {
  transform: scale(1.05);
}

.productDelete-btn {
  background-color: #f3b4bd;
  color: #fff;
}

.cartIncrease-btn,
.cartDecrease-btn,
.cartRemove-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 12px;
  background: #fff;
  font-size: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease;
}
.cartIncrease-btn:hover,
.cartDecrease-btn:hover,
.cartRemove-btn:hover {
  transform: scale(1.05);
}
.clearCart-btn {
  margin: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  background: #fff;
  font-size: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease;
}
.clearCart-btn:hover {
  transform: scale(1.05);
}

.cartRemove-btn {
  background-color: #f3b4bd; 
  padding: 5px 10px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.cartRemove-btn:hover {
  transform: scale(1.05);
  background-color: #f3b4bd; 
}

.buyCart-btn {
  margin: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  background: #f3b4bd;
  color: #fff;
  font-size: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.buyCart-btn:hover {
  transform: scale(1.05);
}

.hidden {
  display: none;
}
